<!DOCTYPE html>
<html>
<head>
    <title>About GreenSpace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .list-group-item.active, .btn-primary {
            background-color: green;
            border-color: green;
        }
        .container-fluid .card {
            min-height: 600px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 p-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">About GreenSpace</h1>
                    </div>
                    <div class="card-body">
                        <p class="text-center">GreenSpace is an innovative online platform dedicated to college clubs and organizations. Our mission is to provide a space where students can connect with clubs, participate in events, share thoughts and experiences, and contribute to their school community in a meaningful way.</p>
                        <p class="text-center">Founded in 2023, GreenSpace aims to enhance the student experience by promoting engagement and communication between clubs and their members. Whether you are a club leader looking for an effective way to manage your organization, or a student seeking to become more involved in your college community, GreenSpace is the platform for you.</p>
                        <div class="row mt-4 justify-content-center">
                            <a href="/" class="btn btn-primary">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
