<!DOCTYPE html>
<html>
<head>
    <title>GreenSpace - Forgot Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    .list-group-item.active, .btn-primary {
        background-color: green;
        border-color: green;
    }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 p-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Forgot Password</h1>
                    </div>
                    <div class="card-body">
                        <form id="resetForm" method="POST" action="/forgotpassword">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <input id="submitButton" class="btn btn-primary btn-block" type="submit" value="Send Password Reset Link">
                        </form>
                        <a class="btn btn-primary btn-block mt-3" href="/">Go to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $('#resetForm').on('submit', function(e) {
            e.preventDefault();
            alert('Link Sent');
        });
    </script>
</body>
</html>
