<!DOCTYPE html>
<html>
<head>
    <title>GreenSpace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 p-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Welcome to GreenSpace!</h1>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Connect with school clubs and organizations, participate in events, share your thoughts, and enjoy the school community like never before.</p>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <a href="/signup" class="btn btn-primary btn-block">Sign Up</a>
                            </div>
                            <div class="col-md-6">
                                <a href="/login" class="btn btn-primary btn-block">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
