<!DOCTYPE html>
<html>
<head>
    <title>ClubCentral - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .btn-back {
            margin-top: 15px;
            border: none;
            font-size: 18px;
            color: white;
            background-color: #007BFF;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        .btn-back:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 p-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Login to ClubCentral!</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/login">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                            </div>
                            <input class="btn btn-primary btn-block" type="submit" value="Login">
                        </form>
                        <button class="btn btn-primary btn-block" type="button" onclick="window.location.href='{{ url_for('index') }}';">Back to Home</button>
                     </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
